{% extends "workboard/base.html" %}
{% block content %}
<div class="form-group">
    <a class="btn btn-outline-secondary" href="{% url 'bug-home' project_id %}">Back to Project</a>
</div>
<article class=" media content-section round">
    <img class="rounded-circle article-img" src="{{ object.creator.profile.image.url }}">
    <div class="media-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>{{ object.bug_title }}</h2>
                    <p class="text-muted">BUG ID - {{ object.id }}</p>
                    <!--add a dropdown to change the bug status from the details screen-->
                    {% if bug.status == "New" %}
                    <p class="text-muted">Status: <i class="fa fa-circle" style="color:grey"></i> {{ bug.status }}
                    </p>
                    {% elif bug.status == "Active" %}
                    <p class="text-muted">Status: <i class="fa fa-circle" style="color:green"></i> {{ bug.status }}
                    </p>
                    {% elif bug.status == "On Hold" %}
                    <p class="text-muted">Status: <i class="fa fa-circle" style="color:yellow"></i> {{ bug.status }}
                    </p>
                    {% elif bug.status == "Resolved" %}
                    <p class="text-muted">Status: <i class="fa fa-circle" style="color:blue"></i> {{ bug.status }}
                    </p>
                    {% elif bug.status == "Closed" %}
                    <p class="text-muted">Status: <i class="fa fa-circle" style="color:orange"></i> {{ bug.status }}
                    </p>
                    {% endif %}
                    <p class="article-content">{{ object.bug_summary }}</p>
                </div>
                <div class="col-sm-3" style="margin:auto; text-align:right;">
                    <div class="btn-group" role="group">
                        <button type="button" class="round" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="background:white; border:1px lightgrey solid;"><i
                                class="fa fa-cog"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="{% url 'bug-update' object.id %}">Update</a>
                            <a class="dropdown-item" href="{% url 'bug-delete' object.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-metadata">
            <small class="text-muted">Created by: <a class="mr-2" href="#">{{ object.creator }}</a></small>
            <small class="text-muted">Created on: {{ object.date_posted|date:"F d, Y" }}</small>
        </div>
    </div>
</article>

<div style="margin-bottom: 20px;">
    <h4>Comments:</h4>
</div>

<form action="{% url 'bug-detail-comment' object.id %}" method="post">
    {% csrf_token %}
    <div class="form-group" style="text-align: right;">
        <textarea placeholder="Enter your comment here ..." class="form-control" name="commentField" rows="3"
            type="text"></textarea>
        <input class="btn btn-primary" type="submit" value="Comment" style="margin-top:10px;" />
    </div>
</form>

{% if comments_length == 0 %}
<h5 style="text-align: center;">No Comments</h5>
{% endif %}

{% for comment in comments %}
{% if comment.bug.id == object.id %}
<article class=" media content-section round">
    <div class="media-body">
        <p>{{ comment }}</p>
        <div class="article-metadata">
            <small class="text-muted">Comment by: <a class="mr-2" href="#">{{ comment.author }}</a></small>
            <small class="text-muted">Created on: {{ comment.created_date|date:"F d, Y  h:i a" }}</small>
        </div>
    </div>
</article>
{% endif %}
{% endfor %}


{% endblock content %}