{% extends "workboard/base.html" %}
{% load static %}
{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var new_count = Number("{{ new_count }}");
    var active_count = Number("{{ active_count }}");
    var onhold_count = Number("{{ onhold_count }}");
    var resolved_count = Number("{{ resolved_count }}");
    var closed_count = Number("{{ closed_count }}");
    var total_bugs = new_count + active_count + onhold_count + resolved_count + closed_count
</script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Status', 'Number of Bugs'],
            ['New', new_count],
            ['Active', active_count],
            ['On Hold', onhold_count],
            ['Resolved', resolved_count],
            ['Closed', closed_count]
        ]);

        var options = {
            legend: 'none',
            title: 'Total Items: ' + String(total_bugs),
            colors: ['grey', 'green', 'yellow', 'blue', 'orange'],
            pieSliceTextStyle: { color: 'black' },
            titleTextStyle: { fontSize: 18 },
            backgroundColor: 'transparent'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-8" style="margin-top: auto; margin-bottom: auto;">
            <h1>{{ project_title }}</h1>
            <p>{{ project_summary }}</p>
        </div>
        <!--button that we are updating with ellipsis-->

        {% if bug_count == 0 %}
        <div class="col-sm-4" style="text-align:right; margin-top:auto; margin-bottom:auto;">
            <div class="btn-group" role="group">
                <button type="button" class="round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="background:white; border:1px lightgrey solid;"><i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'project-update' project_id %}">Update</a>
                    <a class="dropdown-item" href="{% url 'project-delete' project_id %}">Delete</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-sm-2" style="text-align:right; margin-top:auto; margin-bottom:auto;">
            <div class="btn-group" role="group">
                <button type="button" class="round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="background:white; border:1px lightgrey solid;"><i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{% url 'project-update' project_id %}">Update</a>
                    <a class="dropdown-item" href="{% url 'project-delete' project_id %}">Delete</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="piechart" style="width: 250px; height: 250px;"></div>
        </div>
        {% endif %}
        <!--button that we are updating with ellipsis-->
    </div>
</div>
<hr>

<div class="form-group">
    <a class="btn btn-outline-success" href="{% url 'bug-create' project_id%}"><i class="fa fa-plus"></i>
        Add New Bug</a>
</div>
{% if bug_count == 0 %}
<h5 style="text-align: center;">No Bugs</h5>
{% endif %}

{% for bug in page_obj %}
{% if project_id == bug.project.id %}
<article class=" media content-section round">
    <img class="rounded-circle article-img" src="{{ bug.creator.profile.image.url }}">
    <div class="media-body">
        <div class="media-body">
            <!--adding the div for updates here-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <h2><a class="article-title" href="{% url 'bug-detail' bug.id %}">{{ bug.bug_title }}</a>
                        </h2>

                        {% if bug.bug_type == 'Task' %}
                        <p class="text-muted">TASK ID -
                            {{ bug.id }} | Severity: {{ bug.severity }}</p>
                        {% else %}
                        <p class="text-muted">BUG ID -
                            {{ bug.id }} | Severity: {{ bug.severity }}</p>
                        {% endif %}

                        {% if bug.status == "New" %}
                        <p class="text-muted">Status: <i class="fa fa-circle" style="color:grey"></i>
                            {{ bug.status }}
                        </p>
                        {% elif bug.status == "Active" %}
                        <p class="text-muted">Status: <i class="fa fa-circle" style="color:green"></i>
                            {{ bug.status }}
                        </p>
                        {% elif bug.status == "On Hold" %}
                        <p class="text-muted">Status: <i class="fa fa-circle" style="color:yellow"></i>
                            {{ bug.status }}
                        </p>
                        {% elif bug.status == "Resolved" %}
                        <p class="text-muted">Status: <i class="fa fa-circle" style="color:blue"></i>
                            {{ bug.status }}
                        </p>
                        {% elif bug.status == "Closed" %}
                        <p class="text-muted">Status: <i class="fa fa-circle" style="color:orange"></i>
                            {{ bug.status }}
                        </p>
                        {% endif %}

                        <p class="article-content">{{ bug.bug_summary }}</p>
                    </div>
                    <div class="col-sm-3" style="margin:auto; text-align:right;">
                        <div class="btn-group" role="group">
                            <button type="button" class="round" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style="background:white; border:1px lightgrey solid;"><i
                                    class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="{% url 'bug-update' bug.id %}">Update</a>
                                <a class="dropdown-item" href="{% url 'bug-delete' bug.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-metadata">
                <small class="text-muted">Created by: <a class="mr-2" href="#">{{ bug.creator }}</a></small>
                <small class="text-muted">Created on: {{ bug.date_posted|date:"F d, Y" }}</small>
            </div>
        </div>

</article>
{% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links" style="margin-left: auto; padding-top: 15px; padding-bottom: 50px;">
        <div role="group" aria-label="Basic example">
            {% if page_obj.has_previous %}
            <button type="button" class="btn"><a href="?page=1">&laquo; first</a></button>
            <button type="button" class="btn"><a href="?page={{ page_obj.previous_page_number }}">previous</a></button>

            {% endif %}

            <span class="current">
                <button style="color:black" type="button" class="btn">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </button>
            </span>

            {% if page_obj.has_next %}
            <button type="button" class="btn"><a href="?page={{ page_obj.next_page_number }}">next</a></button>
            <button type="button" class="btn"><a href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a></button>
            {% endif %}
        </div>
    </span>
</div>

{% endblock content %}