{% extends "workboard/base.html" %}
{% block content %}
<div class="form-group">
    <a class="btn btn-outline-secondary" href="{% url 'bug-home' project_id %}">Back to Project</a>
</div>
<article class=" media content-section round">
    <img class="rounded-circle article-img" src="{{ object.creator.profile.image.url }}">
    <div class="media-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2><a class="article-title" href="{% url 'bug-detail' bug.id %}">{{ object.bug_title }}</a></h2>
                    <p class="article-content">{{ object.bug_summary }}</p>
                </div>
                <div class="col-sm-3" style="margin:auto; text-align:right;">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" href="{% url 'bug-update' object.id %}">Update</a>
                            <a class="dropdown-item" href="{% url 'bug-delete' object.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-metadata">
            <small class="text-muted">Created by: <a class="mr-2" href="#">{{ object.creator }}</a></small>
            <small class="text-muted">Created on: {{ object.date_posted|date:"F d, Y" }}</small>
        </div>
    </div>
</article>

{% endblock content %}