{% extends "workboard/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="form-group">
    <a class="btn btn-outline-success" href="{% url 'project-create' %}">Add New
        Project</a>
</div>
{% endif %}
{% for project in projects %}
<article class="media content-section round">
    <div class="media-body">
        <h2><a class="article-title" href="{% url 'bug-home' project.id %}">{{ project.title }}</a></h2>
        <p class="article-content">{{ project.summary }}</p>
        <div class="article-metadata">
            <small class="text-muted">Created by: <a class="mr-2" href="#">{{ project.creator }}</a></small>
            <small class="text-muted">Created on: {{ project.date_posted|date:"F d, Y" }}</small>
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}