{% extends "workboard/base.html" %}
{% block content %}
{% for project in projects %}
<article class="media content-section">
    <div class="media-body">
        <h2><a class="article-title" href="#">{{ project.title }}</a></h2>
        <p class="article-content">{{ project.summary }}</p>
        <div class="article-metadata">
            <small class="text-muted">Created by: <a class="mr-2" href="#">{{ project.creator }}</a></small>
            <small class="text-muted">Created on: {{ project.date_posted|date:"F d, Y" }}</small>
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}