{% extends "workboard/base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="col-sm-8" style="margin-top: auto; margin-bottom: auto;">
    <h1>Projects</h1>
</div>
<hr>
<div class="form-group">
    <a class="btn btn-outline-success" href="{% url 'project-create' %}"><i class="fa fa-plus"></i> Add New
        Project</a>
</div>
{% endif %}
{% for project in projects %}
<article class="media content-section round">
    <div class="media-body">
        <h2><a class="article-title" href="{% url 'bug-home' project.id %}">{{ project.title }}</a></h2>
        <p class="article-content">{{ project.summary }}</p>
        <div class="article-metadata">
            <small class="text-muted">Created by: <a class="mr-2" href="#">{{ project.creator }}</a></small>
            <small class="text-muted">Created on: {{ project.date_posted|date:"F d, Y" }}</small>
        </div>
    </div>
</article>
{% endfor %}

<div class="pagination">
    <span class="step-links" style="margin-left: auto; padding-top: 15px; padding-bottom: 50px;">
        <div role="group" aria-label="Basic example">
            {% if page_obj.has_previous %}
            <button type="button" class="btn"><a href="?page=1">&laquo; first</a></button>
            <button type="button" class="btn"><a href="?page={{ page_obj.previous_page_number }}">previous</a></button>

            {% endif %}

            <span class="current">
                <button style="color:black" type="button" class="btn">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </button>
            </span>

            {% if page_obj.has_next %}
            <button type="button" class="btn"><a href="?page={{ page_obj.next_page_number }}">next</a></button>
            <button type="button" class="btn"><a href="?page={{ page_obj.paginator.num_pages }}">last
                    &raquo;</a></button>
            {% endif %}
        </div>
    </span>
</div>
{% endblock content %}